/*Styles sheet for the m_answer_sheet module*/

#body{
  white-space: nowrap;
  overflow-x: hidden;
}

#special_characters{
  text-align: center;
  float:left;
  width: calc(100% - 150px);
}
.special_button{
  width: 50px;
  height: 50px;
}
.answerKeyElement{
  float: left;
  background-color: #FFFFCC;
  text-align: center;
}
.seriesNumbers{
  width: 35px;
  height: 35px;
}
.answerKeyElement{
  padding: 15px;
}
.level1Set{
  height: 50px;
}
.level2Set{
  height: 50px;
}
.level3Set{
  height: 50px;
}
.level1Values{
  height: 50px;
  width: 15vw;
}
.level2Values{
  height: 50px;
  width: 15vw;
}
.level3Values{
  height: 50px;
  width: 15vw;
}
