/*Styles sheet for the m_settings module*/
*:focus {
    outline: none;
}
body{
  color: white;
  opacity: 0.7;
}
#table1{
  position: absolute;

}
#table2{
  position: absolute;
  top:200px;
}
#table3{
  position: absolute;
  top:400px;
}
