/*Styles sheet for the m_team_activity module*/
body{
  background-color: rgb(17, 22, 42);
  color: white;
  margin: 0;
  padding: 20px;
  opacity: 0.7;

}
*:focus {
    outline: none;
}
#table{
  margin-top: 20px;
  width: calc(100vw - 17px);
  white-space:nowrap;
  border-radius: 20 px;
}
table{
border-collapse:collapse;
border:1px solid white;
border-color: white;
}

table td{
text-align: center;
border:1px solid white;
padding: 10px;
}
