body {

	background-image: url('/MathRelay3/images/IMG_1544 (2).jpg');
	background-size: cover;
	text-align: center;
  color: white;

}
h1{
	font-family: 'Advent Pro', sans-serif;
	font-size: 400%;
	margin: 10px;
}
*:focus {
    outline: none;
}
section {
	font-family:sans-serif;

  margin: 2vh 5%;
	float: right;
	width:35%;
  background-position: center;
  border: 3px;
  border:5%;
  padding: 4%;
  border-radius: 20px;
  position:relative;
	word-wrap: break-word;
  background-color: rgba(0,0,0,.8);
}
#congratulations{
	font-size: 30px;
}
#returnTitle{
	width: 200px;
  height: 75px;
  border:none;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.4s ease;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}
#returnTitle:hover{
	background-color: rgb(32, 70, 93);
}
