
/*Stylesheet for leaderboard.php*/
body{
  text-align: center;
  background-image: url('/MathRelay3/images/SAM_1343.jpg');
  background-size: cover;
  font-family: 'Advent Pro', sans-serif;
  overflow: hidden;
  min-height: 619px;
}
section{
  margin: 5%;
  background-position: center;
  border: 3px solid black;
  border:5%;
  padding: 3%;
  border-radius: 20px;
  position:relative;
  background-color: rgba(0,0,0,0.8);
  color: white;
  margin-bottom: 5%;
  /*overflow: auto;*/
  min-height:333px;
  min-width: 444px;
  height: 70vh;
}
h1{
  margin: 0px;
  font-size: 400%;
}

#leaderboardTable1{
  width: 50%;
  font-size: 150%;
  float: left;
}

#leaderboardTable2{
  width: 50%;
  font-size: 150%;
  float: right;
}

.right{
  padding-left: 8px;
  text-align:center;
}
.left{
  padding-right: 8px;
  text-align: right;
  width: 50%;
  max-width: 10em;
  word-wrap: break-word;

}
.rank{
  text-align: center;
}
#row0{
  color: rgb(193, 161, 25);
  font-size: 150%;
}
#row1{
  color: rgb(167, 170, 171);
  font-size: 150%;
}
#row2{
  color: rgb(158, 103, 9);
  font-size: 150%;
}
