td.questions {
	height: 30px;
	width: 30px;
	border: 1px solid Black;
	text-align: center;
	background-color: Gray;
	font-weight: bold;
}
td.answer_sheet {
	height: 80px;
	width: 125px;
	text-align: center;
	border: 1px solid Black;
	background-color: Gray;
}
th.level_header {
	border: 1px solid Black;
	text-align: center;
	background-color: Gray;
}
#questionGrid {
	float: left;
	background-color: Tomato;
}
#answerChoices {
	float: left;
	background-color: #011858;
}
#submit_answer {
	width: 20%;
	height: 250px;
	float: right;
}
#logoutButton {
	float: right;
}


