/*Stylesheet for printout.php*/
table{
  border-collapse: collapse;
  width: 45%;
}
td{
  border: 1px solid black;
  text-align: center;
  width: 50%;
  height: 10mm;
}
#teamDataTable1{
  float:left;
}
#teamDataTable2{
  float:right;
}
#teamDataTable3{
  page-break-before: always;
  float: left;
}
#teamDataTable4{
  page-break-before: always;
  float: right;
}
@page {
  size: A4;
  /*margin-top: 0;*/
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}
