<style>
/*Style sheet for control panel*/


/*Resets all html borders to 0.*/

#html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  max-width: 100%;
  margin: 0;
  overflow:auto;
}
#everything{
  position:relative;
  width: 1280px;
}
#ribbon {
  width: 100%;
  margin: 0;
  position: absolute;
  white-space: nowrap;
  overflow: inherit;
  font-family: 'Advent Pro', sans-serif;
}
#ribbon1 {
  position: absolute;
  background-color: #377638;
  padding-left: 17px;
  height: 93px;
  width: 300px;
}
#ribbon2 {
  position: absolute;
  white-space: nowrap;
  background-color: #377638;
  height: 93px;
  width: calc(100% - 300px);
  right:0;
}
#container {
  width: 100%;
}
#content {
  float: left;
  width: calc(100% - 150px);
  overflow: hidden;
}
#toolbar {
  postion: absolute;
  white-space: normal;
  background-color: rgba(38, 38, 38, 0.32);
  width: 150px;
  min-height: 300px;
  height: calc(100vh - 93px);
  margin-top: 93px;
  float: left;
}
#freezeLeaderboard {
  width: 170px;
  height: 93px;
  text-align: left;
  background: none;
  padding: 10px;
  border: none;
  transition: background-color 0.25s ease;
}
#freezeLeaderboard:hover {
  color: white;
  background-color: #011858;
}
#timer {
  background-color: #377638;
  float: right;
  font-size: 20px;
  height: 40px;
  margin-top: 27px;
  padding: 12px;
}
#logoutButton {
  float: right;
  margin: 0px;
}
.iframeMod {
  position: absolute;
  width: 1130px;
  height: calc(100vh - 110px);
  border: none;
  overflow: auto;
  top: 93px;
  left: 150px;
}
.contentMod{
  overflow: hidden;
}
.toolbarButton {
  width: 150px;
  text-align: left;
  background: none;
  padding: 10px;
  border: none;
  transition: background-color 0.25s ease;
  font-family: 'Advent Pro', sans-serif;
  font-size: 15px;
}
.toolbarButton:hover {
  background-color: DimGray;
}
.ribbonButton {
  width: 100px;
  height: 93px;
  background: none;
  padding: 0;
  border: none;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  transition: background-color 0.5s ease;
  transition: color 0.25s ease;
}
.ribbonButton:hover {
  color: white;
  background-color: #011858;
}
</style>
