<style>
/*Style sheet for control panel*/
	#body{
		overflow-x:scroll;
		margin:0px;
	}
	#ribbon1{
			white-space: nowrap;
			background-color: #377638;
			height: 93px;
			width: 25%;
			float:left;
	}
	#ribbon2{
			white-space: nowrap;
			background-color: #377638;
			height: 93px;
			width: 75%;
			float:right;
	}
	#toolbar{
		background-color: LightGray;
		width: 150px;
		height: 100%;
		float: left;
	}
	#freezeLeaderboard{
		width: 150;
		height: 93px;
		text-align: left;
		background: none;
		padding: 10px;
		border: none;
		transition: background-color 0.25s ease;
	}
	#freezeLeaderboard:hover{
		color: white;
		background-color: #011858;	
	}
	#logoutButton{
		float: right;
	}
	#timer{
		background-color: #377638;
		float:right;
		height: 40px;
		margin-top: 27px;
		padding: 12px;
	}
	.toolbarButton{
		width: 150px;
		text-align: left;
		background: none;
		padding: 10px;
		border: none;
		transition: background-color 0.25s ease;
	}
	.toolbarButton:hover{
		background-color: DimGray;
	}
	.ribbonButton{
		width:100px;
		height: 93px;
		background: none;
		padding:0;
		border:none;
		transition: background-color 0.5s ease;
		transition: color 0.25s ease;
	}
	.ribbonButton:hover{
		color: white;
		background-color: #011858;	
	}
	




</style>