body {
	background-image: url('/MathRelay3/images/IMG_2051.jpg');
	background-size: cover;
	background-position: cover;
	
	text-align: center;
}
*:focus {
    outline: none;
}
h1	{
		padding: 0%;
		margin: 0%;
		margin-bottom: 2%;
		font-size: 400%;
	  font-family: 'Advent Pro', sans-serif;
}

div#ribbon {

	padding: 2%;
	margin-top: 1%;
	margin-bottom: 0.4%;
	    color: white;
	    background-position: center;
	    border: 0px solid grey;
	    border:5%;
	    border-radius: 20px;
	    position:relative;
	    /*background-color: rgba(0,76,153,0.1);*/
			background-color: rgba(0,0,0,0.0);
}

#questionGrid {
	color: white;
	height: 300px;
	width: 20%;
	float: left;
	/*border: 2px solid black;*/

	background-color: rgba(94, 138, 103, 0.6); <!--Light Green Color -->

	border: 3px solid grey;
	border:5%;
	border-radius: 20px;
}

.questions {
	width: 100%;
}
#nicknameInput{
	background-color: rgb(42, 46, 48);
	margin-left: 0;
  border: none;
  height: 25px;
  color: white;
  padding: 10px;
  border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#submitNickname{
	height: 45px;
	border: none;
	margin-left: 0px;
	padding:10px;
	background-color: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: background-color 0.25s ease;

}
#submitNickname:hover{
	background-color: rgb(32, 70, 93);
}
#answerChoices {
	padding-top: 0.05%;
	color: white;
	float: left;
	background-color: #377638;
	width: 60%;
	height: 300px;
	/*border-top: 2px solid black;
	border-bottom: 2px solid black;*/

	background-color: rgba(20, 102, 100, 0.6); <!--Dark Green Color -->

	border: 3px solid grey;
	border:5%;
	border-radius: 20px;
	position: relative;
}

#buttons {
	padding-top: 1%;
}

#rightside {
	float: left;
	width: 20%;
	height: 300px;
	/*border: 2px solid black;*/
	background-color: rgba(32, 70, 93, 0.6); <!--Dark Blue Color -->

	border: 3px solid grey;
	border:5%;
	border-radius: 20px;
}

#points	{
	margin-top: 0;
	padding-left: 0;
	padding-top: 1%;
	color: white;
	font-size: 200%;
	/*margin-bottom: 5%;
	padding: 2%;*/
	height: 25px;
}

#submit {
	margin-bottom: 0;
	height: 225px;
	padding-left: 0;
	margin: 0;
}

#submit_answer {
	width: 90%;
	height: 100%;
	border: none;
	border-radius: 20px;
	transition: background-color;
}
#submit_answer:hover{
	background-color: rgb(101, 123, 201);
}

#necessary {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
}

#level3choice {
	text-align: center;
	width: 20%;
	margin-top: 1%;
	margin-left: 10%;
	padding: 0;
	position: absolute;
}

#level2choice {
	text-align: center;
	width: 20%;
	margin-top: 1%;
	margin-left: 35%;
	padding: 0;
	position: absolute;
}

#level1choice {
	text-align: center;
	width: 20%;
	margin-top: 1%;
	margin-left: 60%;
	padding: 0;
	position: absolute;
}
#logoutDiv{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 75px;
}
#logoutButton {
	width: inherit;
	height: inherit;
	border: none;
	border-radius: 20px;
	background-color: inherit;
	color: white;
	transition: background-color 0.4s ease;
}
#logoutButton:hover{
  background-color: rgb(32, 70, 93);

}


.seriesNumbers{
	width: 35px;
	height: 23px;

	border: none;
	border-radius: 5px;
	transition: background-color;
}
.seriesNumbers:hover{
	background-color: rgb(101, 123, 201);
}
.answerLevel{
	float: left;
}

.level3Buttons{
	width: 150px;
	position: center;
	height: 30px;
	margin-top: 2%;
	margin-bottom: 2%;
	border: none;
	border-radius: 7px;
	transition: background-color;
}
.level3Buttons:hover{
	background-color: rgb(101, 123, 201);
}
.level2Buttons{
	position: center;
	width: 160px;
	height: 30px;
	margin-top: 2%;
	margin-bottom: 2%;
	border: none;
	border-radius: 7px;
	transition: background-color;
}
.level2Buttons:hover{
	background-color: rgb(101, 123, 201);
}
.level1Buttons{
	position: center;
	width: 160px;
	height: 30px;
	margin-top: 2%;
	margin-bottom: 2%;
	border: none;
	border-radius: 7px;
	transition: background-color;
}
.level1Buttons:hover{
	background-color: rgb(101, 123, 201);
}
